
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1><%= data.title %> for <%= data.time %>  </h1>
    <div class="container">
        <% data.consolidated_weather.forEach(newData => { %>
            <% let{weather_state_name, weather_state_abbr, max_temp, min_temp, humidity}=newData%>
            <% let imageLink = `https://www.metaweather.com/static/img/weather/${weather_state_abbr}.svg` %>
            <div class="weather">
                <img src = <%=  imageLink %> width='50' height='50' alt=""><%= weather_state_name%>
                <p> Max: <%= Math.round((max_temp*1.8)+32) %>&#8457;</p>
               <p> Min: <%= Math.round((min_temp*1.8)+32) %>&#8457;</p>
               <p> Humidity: <%= humidity %> </p>
            </div>
       <% })%>

    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>