<%- include ('partials/header') %>


    <h1>Here are your results for Resturants in <%= location %>; </h1>
    <div class=  "container well">
        <table class="table">
        <tr>
            <th>Rating</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
       
   <% results.forEach(function(el){ %>
    <% if ((el.rating %1)==0){ %>
    <% stars = '/graphic/stars_regular_'+ el.rating + '.png'; %> 
    <% } else{  %>    
    <% stars = '/graphic/stars_regular_' + Math.floor(el.rating) + '_half.png'; %>  
    <% } %> 
        <tr class = "listResults">
        <td><img src="<%= stars  %>" alt="stars"></a> </td>
        <td><h3><a href="<%=el.url%>" target="blank">
            <%=el.name %> </a> </h3></td>
        <td><h4><%= el.display_phone%></h4></td>
    </tr>
    <% }); %>
    </table> 
</div>
<%- include('partials/footer') %>
