<%- include('partials/header') %> 
<%- include('partials/nav') %> 
 
    <h1>New Data</h1>
    <p>First Name <%= data.fName  %> </p>
    <p>Last Name <%= data.lName  %> </p>
    <p>Phone: <%= data.phone  %> </p>
    <%- include('partials/footer')  %> 