<%- include("partials/header") %> 
<div>
<h1>Is this information correct?</h1>
<h3>First Name: <%= data.fname %> </h3>
<h3>Last Name: <%= data.lname %> </h3>
<h3>Email: <%= data.email %> </h3>
<h3>Phone: <%= data.phone %> </h3>
<h3>Country: <%= data.country %> </h3>
<h3>Over 18?  <%= data.age %> </h3>
<h3>Resume: <%= data.resume %> </h3>
</div>
<%- include("partials/footer") %> 